NODE_ENV=development
PORT=4000
API_PREFIX=/api/v1
CORS_ORIGIN=http://localhost:3000,https://collabzz.in,https://www.collabzz.in

# Database
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/collabzz?retryWrites=true&w=majority
